@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
* {
    box-sizing: border-box;
}
/* GLOBAL STYLES */

body,
.App {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    width: 100%;
    font-size: 16px;
    background: url(https://www.toptal.com/designers/subtlepatterns/patterns/lightpaperfibers.png);
    overflow: visible;

}

.app-container {
    display: flex;
    width: 100%;
    height: 100vh;
    overflow-y: auto;

}

.no-obituaries {
    position: fixed;
    top: 80px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 40px;

}

.no-obituaries h1 {
    font-size: 1.2rem;
    color: #c9c9c9;
}

/* HEADER STYLES */

.app-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-top: 3px solid #a5a1a1;
    border-bottom: 1px solid #e3dede;
    z-index: 100;
    background-color: white;
}

.app-title h1 {
    font-size: 1.5rem;
}

.app-add-button {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 77px;
    width: 180px;
    padding: 28px 15px 28px 30px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

.app-add-button:hover {
    background: #ddd;
}

/* OBITUARIES STYLES */

.container{
    padding: 50px 20px 50px 20px;
    width: 100%;
}

.obituary-list {
    display: flex;
    margin: 20px;
    width: auto;
    height: fit-content;
    padding-top: 50px;
}

.column{
    flex-basis: 350px;
    flex-shrink: 1;
    height: auto;
    width: fit-content;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
}

.obituary {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    height: fit-content;
    margin-bottom: 30px;
}

.obituary-buttons {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.obituary-button-play {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #a5a1a1;
}

.obituary-img{
    width: 100%;
    height: fit-content;
    position: relative;
    
}

.obituary-img img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
    /* filter: grayscale(100%); */
    z-index:0;
}

/* .obituary-img-overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 10px 10px 0 0;
    background: radial-gradient(circle farthest-corner at 48% 50%, rgba(0, 0, 0, 0) 38.8%, rgba(0, 0, 0, 1) 73.3%);
    z-index: 1;
} */

.obituary-info{
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.obituary-info small{
    font-size: 10px;
}

.obituary-body{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-family: 'Satisfy', cursive;
    font-size: 1.2rem;
    padding: 10px 15px 10px 15px
}

@media only screen and (max-width: 1000px) {
    .column{
        flex-basis: 550px;
        padding: 0 50px;

    }
  }

  @media only screen and (max-width: 620px) {
    .obituary-list{
        display: block;
        column-count: 1;
    }

    .column{
        margin-left: 60px;
        margin-right: 60px;
        padding: 0 30px;
    }


  }

/* OBITUARY CREATOR WINDOW STYLES */
.obituary-creator-container{
    position: fixed;
    top: 50;
    left: 50;
    width: 70%;
    height: 50vh;
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.creator-display{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(255, 255, 255, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

#img-upload {
    opacity: 0;
}

.img-upload-label:hover {
    text-decoration: underline;
}

.obituary-creator-close-button {
    position: absolute;
    top: 0;
    right: 0;
    height: 60px;
    width: 60px;
    border: none;
    background: none;
    font-size: 2.5rem;
    cursor: pointer;
}

.creator-name-input {
    width: 75%;
    height: 50px;
    border: 1px solid #e3dede;
    font-size: 1rem;
    padding: 0 10px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.creator-name-input:focus {
    outline: none !important;
    border:1px solid #0aedad;
}

.creator-date-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.creator-date-container input {
    width: auto;
    height: 40px;
    border: none;
    font-size: 1rem;
    padding: 0 10px;
    border-radius: 5px;
    margin: 0px;
}

.creator-date-container input:focus {
    outline: none;
}

.creator-submit-button {
    width: 55%;
    height: 50px;
    border: none;
    background: #0aedad;
    color: #fff;
    font-size: 1rem;
    padding: 0 10px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

.creator-submit-button:hover {
    background: #4a4848;
}

.creator-submit-button-disabled {
    width: 600px;
    height: 50px;
    border: none;
    background: #a5a1a1;
    color: #fff;
    font-size: 1rem;
    padding: 0 10px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: not-allowed;
}